div[id="private"] {
    width: 100%;
    height: 100%;
    display: flex;
}

div[id="home"] {
    margin: 2rem;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

div[id="home"] > input {
    margin: 2rem 10rem;
    background-color: var(--gray);
    padding: 0.9rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1rem;
}

input[name="pesquisar"]:focus {
    outline: var(--blue-light) solid;
    background-color: var(--white);
}

#salas-notfound {
    grid-column: 2/3;
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    color: var(--dark-blue-3);
}

