div[id="private"] {
    width: 100%;
    height: 100%;
    display: flex;
}

div[id="conteudo-sala"] {
    margin: 2rem;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

div[id="conteudo-sala"] > article > * {
    margin-bottom: 1rem;
}

div[id="conteudo-sala"] > article > h1 {
    color: var(--dark-blue-3);
}

div[id="conteudo-sala"] > article > p[id="desc-sala"] {
    color: var(--dark-blue-2);
    font-size: 1.3rem;
}

div[id="conteudo-sala"] > article {
    padding-left: 10rem;
    padding-top: 2rem;
}

div[id="conteudo"] {
    border-top: 2px solid var(--dark-blue-3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div[id="conteudo"] > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

textarea[id="conteudo-text"] {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    height: 90%;
    width: 90%;
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: 1.5rem;
}

textarea[id="conteudo-text"]:focus {
    outline: var(--dark-blue-2) solid 2px;
}

input[name="salvarEdit"] {
    background-color: var(--dark-blue-2) !important;
    color: var(--white) !important;
    cursor: pointer;
    border-radius: 1rem;
    border-style: none;
    width: 10%;
    height: 5%;
    margin: 1rem;
    margin-left: 7rem;
}
  
input[name="salvarEdit"]:hover {
    background-color: var(--dark-blue) !important;
}

div[id="conteudo"] > p[id="conteudo-text"] {
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: 1.5rem;
}

div[id="conteudo-options"] {
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 5rem;
    justify-self: end;
    margin-top: auto;
}

div[id="conteudo-options"] > div > input {
    background-color: var(--red);
    color: var(--white);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 0 solid none;
    border-style: none;
    align-self: flex-end;
    cursor: pointer;
}

div[id="conteudo-options"] > div > input[name="voltar"] {
    margin-left: 1rem;
}

div[id="conteudo-options"] > input[name="editarConteudo"] {
    align-self: flex-start;
    background-color: var(--dark-blue-2);
    color: var(--white);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 0 solid none;
    border-style: none;
    cursor: pointer;
}

div[id="conteudo-sala"] > #conteudo-info {
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}