div[id="criar-sala"] {
    margin: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div[id="criar-sala"] > h1 {
    padding-bottom: 2rem;
    color: var(--dark-blue-2);
    font-size: 4rem;
}

div[id="criar-sala"] > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 50%;
}

div[id="criar-sala"] > form > * {
    margin: 1rem;
    padding: 1rem;
}

input[name="tituloSala"] {
    width: 100%;
    height: 10%;
    background-color: var(--gray);
    margin: 1rem;
    padding: 0.9rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1.8rem;
}

textarea[name="descricaoSala"] {
    width: 100%;
    height: 400px;
    background-color: var(--gray);
    margin: 1rem;
    padding: 0.9rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1.5rem;
}

textarea[name="descricaoSala"]:focus,
input[name="tituloSala"]:focus {
    outline: var(--blue-light) solid;
    background-color: var(--white);
}

input[value="Criar sala"] {
    background-color: var(--dark-blue-2) !important;
    color: var(--white) !important;
    cursor: pointer;
    border-radius: 1rem;
    border-style: none;
    width: 60%;
}
  
input[value="Criar sala"]:hover {
    background-color: var(--dark-blue) !important;
}



