#title-conteudo {
    font-size: 1rem;
    color: var(--dark-blue-2);
}

#card-conteudo {
    border: 2px solid var(--blue-light);
    border-radius: 10px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}