nav[id="public"] {
    background-color: var(--dark-blue-2);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: var(--blue-light);
}


p[class="title"] {
    font-size: 2rem;
}