nav[id="public"] {
    background-color: var(--dark-blue-2);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: var(--blue-light);
}

p[id="headerTitle"] {
    transition: 0.5s;
}

p[id="headerTitle"]:hover {
    color: var(--white);
}

p[class="title"] {
    font-size: 2rem;
}